venv
logs
data
dataset_balanced
videos
wandb
artifacts
output
iqm_filtered_dataset
model/
training_results/
training_result/
resnet50-models/
resnet2d-lstm-models/
resnet_inference_results/
swin3d-models/
sampling_methods_comparison.png
.env
.ipynb_checkpoints
__pycache__